@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}


/* Header styling start */
header{
    width: 100%;
}
header nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px;
}
header nav h3{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;  
}
header nav button{
    color: #006A50;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;  
}
header nav button:hover{
    cursor: pointer;
   color: #fff; 
   background-color: #006A50;
   transition: 0.3s;
}
/* Header styling end */

/* hero styling start */
main{
    margin-bottom: 80px;
}
main .hero{
    margin: 20px 160px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px; 
    background-color: #C6E4D6; 
    border-radius: 24px;
}
main .hero .hero-left p{
    color: #0E0E0E;
    opacity: 50%;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}
main .hero .hero-left h1{
    color: #0e0e0e;
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: bold;
    line-height: 67px;
    text-align: left;
    margin-top: 16px;
}
main .hero .hero-left button{
    color: white;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    padding: 17px 34px;
    background: #006A50;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}
main .hero .hero-left button:hover{
    cursor: pointer;
    background: #02a174;
    transition: 0.3s;
}
/* hero styling end */

/* piller-of-bd start */
main .pillars-of-bd{
    margin: 80px 160px 0px;
}
main .pillars-of-bd h2{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
main .pillars-of-bd .cards-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
main .pillars-of-bd .cards-container .cards{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 1px 1px #0E0E0E26;
}
main .pillars-of-bd .cards-container .cards h4{
    color: #0E0E0E;
    opacity: 0.8;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 25px;
}
main .pillars-of-bd .cards-container .cards p{
    color: #0E0E0E;  
    opacity: 0.7;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    margin-top: 12px;  
}
/* piller-of-bd end */

/* vision of future start */
main .vision-of-future{
    margin: 80px 160px 0px;
}
main .vision-of-future h2{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
main .vision-of-future p{
    color: #0E0E0EB3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left; 
    margin-top: 24px;   
}
main .vision-of-future .cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}
main .vision-of-future .cards .card-1{
    padding: 32px;
    border-radius: 16px;
    background-color: #d5e1f5;
}
main .vision-of-future .cards .card-1 h4{
    color: #0E0E0E;
    opacity: 0.8; 
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    text-align: left; 
    margin-top: 24px;
}
main .vision-of-future .cards .card-1 p{
    color: #0E0E0E;
    opacity: 0.7; 
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    text-align: left; 
    margin-top: 12px;
}
main .vision-of-future .cards .card-1 button{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: #5490F5;  
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}
main .vision-of-future .cards .card-1 button:hover{
    cursor: pointer;
    color: white;
    background-color: #025fff;
    transition: 0.3s;
}
main .vision-of-future .cards .card-2{
   padding: 32px;
   border-radius: 16px;
   background-color: #c6e4d6;
}
main .vision-of-future .cards .card-2 h4{
    color: #0E0E0E;
    opacity: 0.8; 
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    text-align: left; 
    margin-top: 24px;
}
main .vision-of-future .cards .card-2 p{
    color: #0E0E0E;
    opacity: 0.7; 
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    text-align: left; 
    margin-top: 12px;
}
main .vision-of-future .cards .card-2 button{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: #09a15c;  
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}
main .vision-of-future .cards .card-2 button:hover{
    cursor: pointer;
    color: white;
    background-color: #15c405;
    transition: 0.3s;
}
main .vision-of-future .cards .card-3{
   padding: 32px;
   border-radius: 16px;
   background-color: #f7ebcf;
}
main .vision-of-future .cards .card-3 h4{
    color: #0E0E0E;
    opacity: 0.8; 
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    text-align: left; 
    margin-top: 24px;
}
main .vision-of-future .cards .card-3 p{
    color: #0E0E0E;
    opacity: 0.7; 
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    text-align: left; 
    margin-top: 12px;
}
main .vision-of-future .cards .card-3 button{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: #ffc239;            
    border: none;
    border-radius: 8px;
    margin-top: 24px;      
}
main .vision-of-future .cards .card-3 button:hover{
    cursor: pointer;
    color: white;
    background-color: #ff9239;
    transition: 0.3s;
}
main .vision-of-future .quote{
    padding: 48px 24px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
    margin-top: 32px;
    box-shadow: 0px 0px 1px 1px #0E0E0E26;
}
main .vision-of-future .quote p{
    color: #0E0E0E;
    opacity: 0.8;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: normal;
    text-align: left;    
}
main .vision-of-future .quote .designation{
    color: #0E0E0E;
    opacity: 0.6;
    margin-top: 4px;
}
main .vision-of-future .quote h4{
    color: #0E0E0E;
    opacity: 0.8; 
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 12px;
}
/* vision of future end */


/* Opinion Matters start */
main .opinion{
    margin: 80px 160px 0px;
}
main .opinion h2{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
main .opinion .table-container{
    padding: 32px;
    background-color: white;
    border-radius: 16px;
    margin-top: 24px;
}
main .opinion .table-container .table-cont-child{
    border: 1px solid rgba(182, 182, 182, 0.603);
}
main .opinion .table-container .table-cont-child .row1{
    padding: 23px;
    display: flex;
    justify-content: space-between;
    background-color: #c6e4d6;
}
main .opinion .table-container .table-cont-child .row1 h4{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: bold;
}
main .opinion .table-container .table-cont-child .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(182, 182, 182, 0.603);
}
main .opinion .table-container .table-cont-child .row .row-left{
    padding: 24px;
    align-items: center;
}
main .opinion .table-container .table-cont-child .row .row-left p{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600; 
}
main .opinion .table-container .table-cont-child .row .row-right{
    padding: 24px;
    border-left: 1px solid rgba(182, 182, 182, 0.603);
}
main .opinion .table-container .table-cont-child .row .row-right select{
    cursor: pointer;
    color: #0E0E0E;
    padding: 12.5px 16.5px;
    background-color: #C6E4D6;
    border-radius: 4px;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
/* Opinion Matters end */
